{% extends "untitled.html" %}
{% block body %}
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Caminos</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
  <!-- Google fonts - Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.default.css') }}" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/custom.css') }}">
  <!-- Favicon-->
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">
  <!-- Font Awesome CDN-->
  <!-- you can replace it by local Font Awesome-->
  <script src="https://use.fontawesome.com/99347ac47f.js"></script>
  <!-- Font Icons CSS-->
  <link rel="stylesheet" href="https://file.myfontastic.com/da58YPMQ7U5HY8Rb6UxkNf/icons.css">
  <!-- Tweaks for older IEs-->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body >
  <div class="page charts-page">
    <!-- Page Header-->
    <header class="page-header">
      <div class="container-fluid">
        <h2 class="no-margin-bottom">Por favor seleccione un cliente:</h2>
      </div>
    </header>
    <br>
    <!-- Breadcrumb-->
    <div class="container-fluid">
      <div class="list-group">
        {% for cliente in data %}
        <a href="/camino?id={{cliente.id}}&name={{cliente.name}}" class="list-group-item list-group-item-action">{{cliente.name}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
  <!---->
  <script>
    (function (b, o, i, l, e, r) {
    b.GoogleAnalyticsObject = l; b[l] || (b[l] =
      function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
      e = o.createElement(i); r = o.getElementsByTagName(i)[0];
      e.src = '//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X'); ga('send', 'pageview');

  </script>
</body>

</html>
{% endblock %}[root@control templates]# cat tables.html
{% extends "untitled.html" %}
{% block body %}
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Caminos</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
  <!-- Google fonts - Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.default.css') }}" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/custom.css') }}">
  <!-- Favicon-->
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">
  <!-- Font Awesome CDN-->
  <!-- you can replace it by local Font Awesome-->
  <script src="https://use.fontawesome.com/99347ac47f.js"></script>
  <!-- Font Icons CSS-->
  <link rel="stylesheet" href="https://file.myfontastic.com/da58YPMQ7U5HY8Rb6UxkNf/icons.css">
  <!-- Tweaks for older IEs-->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body onload="update_values();">
  <div class="page charts-page">
    <!-- Page Header-->
    <header class="page-header">
      <div class="container-fluid">
        <h2 class="no-margin-bottom">{{name}}</h2>
      </div>
    </header>
    <br>
    <div class="container-fluid" id="div-container">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h3 class="h4">Progreso total</h3>
        </div>
        <div class="card-body">
          <div class="progress" id="progress-div">
            <div class="progress-bar progress-bar-striped progress-bar-animated" id="global-progressbar" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
          </div>
        </div>
      </div>
    <!-- Breadcrumb-->
          {%for j in range(((matriz|length)/8)|int +1 )%}
            <div class="card">
              <div class="card-header d-flex align-items-center">
                <h3 class="h4" id="date-label">Caminos a la fecha de </h3>
                <div >
                  <p style="position: right:0">Fecha: <input type="text" id="datepicker"></p>  
                </div>
              </div>
              <div class="card-body">
                <table class="table table-sm" id="myTable">
                  <thead>
                    <tr>
                      <th style="width: 5%">ID <img role="button" height="20px" onclick="sortTable(0, true)" src="{{ url_for('static', filename = 'img/sort-icon.png') }}"></th>

                      <th style="width: 10%">Empresa <img role="button" height="20px" onclick="sortTable(1, false)" src="{{ url_for('static', filename = 'img/sort-icon.png') }}"></th>
                      <th style="width: 20%">Acción <img role="button" height="20px" onclick="sortTable(2, true)" src="{{ url_for('static', filename = 'img/sort-icon.png') }}"></th>
                      <th style="width: 20%">Estado <img role="button" height="20px" onclick="sortTable(3, true)" src="{{ url_for('static', filename = 'img/sort-icon.png') }}"></th>
                      <th style="width: 10%">Hora <img role="button" height="20px" onclick="sortTable(4, false)" src="{{ url_for('static', filename = 'img/sort-icon.png') }}"></th>
                      <th style="width: 35%; text-align: center">Progreso <img role="button" height="20px" onclick="sortTable(5, true)" src="{{ url_for('static', filename = 'img/sort-icon.png') }}"></th>
                    </tr>
                  </thead>
                  <tbody id="myTable-tbody">
                  </tbody>
                </table>
              </div>
            </div>
          {%endfor%}
  </div>
  <!-- Javascript files-->
  <script type="text/javascript">
    //Setear fecha
    var last_sort = -1;
    var last_sort_clicks = 0;
    var last_sort_integer = false;
    var today = new Date();
    var date = today.getFullYear()+'/'+(today.getMonth()+1)+'/'+today.getDate();
    document.getElementById("date-label").innerHTML += date;
    var EMPTY = false;
    var ACCIONES = {
      {% for k, v in acciones.items() %}
      "{{k}}" : "{{v}}",
      {% endfor %}
    };
    var STATUS = {
      {% for k, v in status.items() %}
      "{{k}}" : "{{v}}",
      {% endfor %}
    };
    var intervalID = setInterval(update_values, 5000);
    function update_values() {
      var url_string = window.location.href
      var url = new URL(url_string);
      var cliente_id = url.searchParams.get("id");
      var path = $SCRIPT_ROOT + '/procesos?id=' + cliente_id
      $.getJSON(path,
        function (data) {
          $('#matriz').text(data.matriz);
          console.log(data);
          $('#myTable-tbody tr').remove();
          if (data.matriz.length == 0) {
            if (!EMPTY) {
              EMPTY = true;
              no_paths_alert_make();
            }
          } else {
            if (EMPTY) {
              EMPTY = false;
              no_paths_alert_destroy();
            }
            tableCreate(data);
            if (last_sort != -1) {
              if (last_sort_clicks < 3)
                var k = last_sort_clicks;
              else
                var k = ((last_sort_clicks - 1) % 2) + 1;
              for (var i = 0; i != k; i++) {
                sortTable(last_sort, last_sort_integer);
                last_sort_clicks--;
              }
            }
            reset_footer();
          }
        });
    };
    function make_progressbar(percent) {
        /*<div class="progress" id="progress-div">
        <div class="progress-bar progress-bar-striped progress-bar-animated" id="global-progressbar" role="progressbar" aria-valuenow="75"
          aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
      </div>*/
        var main_div = document.createElement("div");
        main_div.classList.add("progress-bar");
        main_div.classList.add("progress-bar-stripped");
        main_div.classList.add("progress-bar-animated");
        main_div.setAttribute("role", "progressbar");
        main_div.setAttribute("aria-valuenow", percent);
        main_div.setAttribute("aria-valuemin", "0");
        main_div.setAttribute("aria-valuemax", "100");
        //main_div.setAttribute("id", "progressbar");
        var per_as_string = percent + "%";
        main_div.setAttribute("style", "width: " + per_as_string);
        main_div.innerHTML = per_as_string;
        var div = document.createElement("div");
        div.classList.add("progress");
        //div.setAttribute("id", "progressbar");
        div.appendChild(main_div);
        return div;
    }
    function reset_footer() {
      document.getElementById("footer").style.position = "fixed";
      document.getElementById("footer").style.bottom = "0";
      document.getElementById("footer").style.left = "0";
      document.getElementById("footer").style.right = "0";
    }
    function no_paths_alert_destroy() {
      document.getElementById("no-paths-alert").remove();
    }
    function no_paths_alert_make() {
      var alert = document.createElement("div");
      alert.classList.add("alert");
      alert.classList.add("alert-danger");
      alert.setAttribute("role", "alert");
      alert.setAttribute("id", "no-paths-alert");
      alert.innerHTML = "¡No hay caminos ejecutándose para {{name}}!";
      var currentDiv = document.getElementById("div-container"); 
      currentDiv.insertBefore(alert, currentDiv.firstChild);
    }
    function stopRefresh() {
      clearInterval(intervalID);
    }
    function startRefresh() {
      intervalID = setInterval(update_values, 5000);
    }
    function tableCreate(data) {
      ACCION = 2;
      ESTADO = 3;
      PROGRESO = 5;
      var percents = [];
      var table = document.getElementById('myTable-tbody');      
      for (let rows = 0; rows < data.matriz.length; rows++) {
        var row = table.insertRow();
      for (let columns = 0; columns < 6; columns++) {
        var cell = row.insertCell(columns);
        cell.dataset.value = data.matriz[rows][columns];
        switch (columns) {
          case ACCION:
            cell.innerHTML = ACCIONES[data.matriz[rows][columns]];
          break;
          case ESTADO:
            cell.innerHTML = STATUS[data.matriz[rows][columns]];
          break;
          case PROGRESO:
            //cell.innerHTML = data.matriz[rows][columns] + "%";
            cell.appendChild(make_progressbar(data.matriz[rows][columns]));
            percents.push(parseInt(data.matriz[rows][columns]));
          break;
          default:
            cell.innerHTML = data.matriz[rows][columns];
          break;
        }
      }
     }
     update_progressbar(percents);
    }
    function update_progressbar(l) {
      const arrSum = arr => arr.reduce((a,b) => a + b, 0);
      var sum = arrSum(l);
      var percent = sum / l.length;
      var bar = document.getElementById("global-progressbar");
      var per_as_string = Math.floor(percent).toString();
      bar.style = "width: " + per_as_string + "%";
      bar.innerHTML = per_as_string + "%";
    }
    function deleteTable() {
      if (confirm("It will be deleted..!!")) {
        document.getElementById("myTable").deleteRow();
      }
    }
    function sortTable(n, integer) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("myTable");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (integer) {
            var comp1 = parseInt(x.dataset.value, 10);
            var comp2 = parseInt(y.dataset.value, 10);
          } else {
            var comp1 = x.dataset.value.toLowerCase();
            var comp2 = y.dataset.value.toLowerCase();
          }
          if (dir == "asc") {
            if (comp1 > comp2) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (comp1 < comp2) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
      if (last_sort != n)
        last_sort_clicks = 0; //Reset clicks si se clickea otro
      last_sort_clicks ++;
      last_sort = n;
      last_sort_integer = integer;
      //alert(last_sort.toString() + last_sort_integer.toString() + last_sort_clicks.toString());
    }
  </script>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
  <!---->
  <script>
    (function (b, o, i, l, e, r) {
    b.GoogleAnalyticsObject = l; b[l] || (b[l] =
      function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
      e = o.createElement(i); r = o.getElementsByTagName(i)[0];
      e.src = '//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X'); ga('send', 'pageview');

  </script>
</body>

</html>
